<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
  <%= current_user.email %>
<% end %>

<div class="container">

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum impedit accusantium, natus, distinctio ducimus aliquam exercitationem, eius odio repudiandae suscipit veritatis sapiente aut sequi culpa. Fuga officia optio labore reprehenderit.</p>
gst
</div>
